body {
  background: rgba(39, 32, 68);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* headings */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/tokyo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
}
header h1 {
  font-family: "Anton", sans-serif;
  font-size: 96px;
  margin-bottom: 0;
  line-height: 1;
}
header h1,
h2 {
  color: white;
}
header h2 {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  margin: 0;
}
header h3 {
  color: white;
  font-family: "Anton", sans-serif;
  margin: 0;
  line-height: 0.6;
  margin-bottom: -40px;
  font-size: 35px;
}
header a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
/* main-body */
main {
  background-color: white;
}
main h2 {
  color: black;
  font-family: "Dosis", sans-serif;
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-family: "Dosis", sans-serif;
  opacity: 0.7;
  font-size: 20px;
  line-height: 1.5;
}
main h4 {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
  line-height: 1;
}
main h5 {
  font-size: 18px;
  line-height: 1.5px;
  font-family: "Dosis", sans-serif;
  opacity: 0.7;
  margin: 0;
  line-height: 1;
}
/* footing */
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(/images/street\ walk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: "Dosis", sans-serif;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
footer p {
  opacity: 0.7;
}

footer a {
  color: white;
}
footer h3 {
  font-weight: bold;
}
/* grid-set-up */
.grid {
  display: grid;

  grid-gap: 64px;
}
.grid-2-column {
  grid-template-columns: 1fr 1fr;
}
.grid-3-column-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
/* card-set-up */
.card {
  background: white;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 32px;
}
.text-center {
  text-align: center;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.btn {
  display: block;
  color: white;
  font-family: "Dosis", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
/* sections */
section {
  max-width: 100%px;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}

.img-responsive {
  width: 100%;
  display: block;
}
/* responsiveness */
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
    line-height: 2.3;
  }
  header a {
    font-size: 10px;
    padding: 10px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
